<h1 id="productsPageHeading">Products</h1>
<div class="container">
  <div class = "row">

    <div class = "col-sm-6 col-md-3">
      <%= link_to root_path, {class: 'thumbnail'} do %>
          <%= image_tag("products_tshirt.jpg", alt: "T-shirts") %>
      <% end %>
      <h3 class="productName">T-shirts</h3>
    </div>

    <div class = "col-sm-6 col-md-3">
      <%= link_to root_path, {class: 'thumbnail'} do %>
          <%= image_tag("products_hoodie.jpg", alt: "Hoodies") %>
      <% end %>
      <h3 class="productName">Hoodies</h3>
    </div>

    <div class = "col-sm-6 col-md-3">
      <%= link_to root_path, {class: 'thumbnail'} do %>
          <%= image_tag("products_jersey.jpg", alt: "Jerseys", height: "100px") %>
      <% end %>
      <h3 class="productName">Jerseys</h3>
    </div>

    <div class = "col-sm-6 col-md-3">
      <%= link_to root_path, {class: 'thumbnail'} do %>
          <%= image_tag("products_bears.jpg", alt: "Bears") %>
      <% end %>
      <h3 class="productName">Bears</h3>
    </div>

  </div>
</div>