<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="#header_nav">
      <%= link_to image_tag("noteway_logo_white.png", alt: "The Noteway", id: "notewayLogo"), root_path, class: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Products",   '/pages/products' %></li>
        <li><%= link_to "Design Studio",   '#' %></li>
        <li><%= link_to "Templates for Designs", '#' %></li>
        <li><%= link_to "About Us",   '#' %></li>
        <li><%= link_to "Your Account", '#' %></li>
      </ul>
    </nav>
</header>